.container{
  height: 100%;
  width: 100%;
  margin-top: 100px;
}

.movies{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(570px, auto));
}

.footer {
  display: flex;
  justify-content: center;
  height: 100px;
}

.list {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list a {
  font-size: 30px;
  font-family: "CarterOne";
}