.movie {
  width: 300px;
  background-color:white;
  transition: all 0.4s ease;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
}

.movie:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 11px 30px,
    rgba(0, 0, 0, 0.22) 0px 7px 4px;
    /* box-shadow: 0px 6px 30px 16px #747373; */
}

.movie img {
  width: 260px;
  height: 345px;
}

.letters {
  padding: 0px 10px 30px 10px;
}


.title {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}